body{
  background-color: turquoise;
  background-image: url("record.png");
  margin: 0px;
}

.header {
  background-color: black;
  color: lightgray;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.main{
  background-color: lightgray;
  padding: 1em;
}
